<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                font-family: 'Times New Roman', Times, serif;
                background-color: #d7bea8;
                color: black;
                margin: 40px;

            }


        </style>
    <title>Password Generator</title>

    </head>
    <body>
        <h1><strong>Password Generator</strong></h1>
        <hr>
        <form method="POST" action="/password_generator">
            <input type="number" name="quantity" placeholder="Amount"><br><br>
            <input type="number" name="length" placeholder="How long"><br><br>
            <br>
            
            <input type="submit" value="Generate">
         </form>        
            {% if results %}
                <h3>Your Passwords:</h3>
                {% for row in results %}
                    <p>{{ row[0] }}</p>
                {% endfor %}
            {% endif %}
       
        
          <br>
          <a href="/welcome">Main menu</a>
            

    </body>
</html>